<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API REST OPERATIONS</title>
</head>
<body>
    <p>Consumes: application/json</p>
    <p>Produces: application/json</p>
    <h3>Api mensajes</h3>
    <ul>
        <p>Añade un mensaje</p>
        <li>[POST] /mensajes</li>

        <p>Devuelve tus mensajes guardados</p>
        <li>[GET] /mensajes</li>

        <p>Modifica el texto del mensaje con el id correspondiente</p>
        <li>[PUT] /mensajes/{id}</li>

        <p>Borra el mensaje con el id correspondiente</p>
        <li>[DELETE] /mensajes/{id}</li>
    </ul>
</body>
</html>